@media screen and (min-width: 767px) {
    ion-card {
      width: 600px;
      margin: auto;
    }
  }
  
  .input {
    background-color: rgba(240, 240, 240, 0);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important;
  }
  .white {
    color: white;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .bold {
    font-weight: bold;
  }
  .block {
    display: block;
  }
  
  .transition {
    --background:  #f57c00;
    --border-radius: 16px;
  }
  
  .error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
  }