<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="gotoaskques()">
        Ask Question
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
  <h1 style="text-align: center;">FAQ( Frequent Asked Question)</h1>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-label><h2>My Neighbour Totoro</h2></ion-label>
    </ion-card-header>

    <ion-card-content>
      <app-expandable expandHeight="100px" [expanded]="item.expanded">
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-content class="ion-padding">
  <h1 style="text-align: center;"><b>FAQ (Frequently Asked Questions)</b></h1>
<!-- 
  <ion-list>
    <ion-item>
      <ion-label> -->
        <app-mi-accordion 
          *ngFor="let item of items" 
          name="{{ item.name }}" 
          description="{{ item.description }}" class = "hover">
        </app-mi-accordion>
      <!-- </ion-label>
    </ion-item>
  </ion-list> -->

  <!-- <ion-button style="margin-top: 40px;" (click)="gotoaskques()">Ask Question</ion-button> -->
</ion-content>
