<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title>My Neighbour Totoro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-expandable expandHeight="100px" [expanded]="item.expanded">
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
        <p>
          Hello there.
        </p>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
