<ion-header>
  <ion-toolbar>
    <ion-title>Crypto Exchange Rates</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <h3>BTC to USD</h3>

  <ion-item>
    <h4>Last Refreshed: {{ expensesService.crypto["6. Last Refreshed"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Exchange Rate: {{ expensesService.crypto["5. Exchange Rate"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Bid Price: {{ expensesService.crypto["8. Bid Price"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Ask Price: {{ expensesService.crypto["9. Ask Price"] }}</h4>
  </ion-item>

  <!-- <h3>BTC to SGD</h3>

  <ion-item>
    <h4>Last Refreshed: {{ expensesService.cryptoSG["6. Last Refreshed"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Exchange Rate: {{ expensesService.cryptoSG["5. Exchange Rate"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Bid Price: {{ expensesService.cryptoSG["8. Bid Price"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Ask Price: {{ expensesService.cryptoSG["9. Ask Price"] }}</h4>
  </ion-item> -->

</ion-content>
