<ion-header>
  <ion-toolbar>
    <ion-title>Crypto Exchange Rates</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  
    <h3><b>BTC to USD</b></h3>

    <ion-list>
    <ion-item>
      <h4>Last Refreshed: {{ expensesService.cryptoUS["6. Last Refreshed"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Exchange Rate: {{ expensesService.cryptoUS["5. Exchange Rate"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Bid Price: {{ expensesService.cryptoUS["8. Bid Price"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Ask Price: {{ expensesService.cryptoUS["9. Ask Price"] }}</h4>
    </ion-item>
  </ion-list>

  <!-- <h3>BTC to SGD</h3>

  <ion-item>
    <h4>Last Refreshed: {{ expensesService.cryptoSG["6. Last Refreshed"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Exchange Rate: {{ expensesService.cryptoSG["5. Exchange Rate"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Bid Price: {{ expensesService.cryptoSG["8. Bid Price"] }}</h4>
  </ion-item>

  <ion-item>
    <h4>Ask Price: {{ expensesService.cryptoSG["9. Ask Price"] }}</h4>
  </ion-item> -->

</ion-content>
