// .main {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     position: relative;
//     top: 100px;
//   }
  @media screen and (min-width: 767px) {
    ion-card {
      width: 600px;
      margin: auto;
    }
  }
  
  .input {
    background-color: rgba(240, 240, 240, 0);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important;
  }
  .white {
    color: white;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .bold {
    font-weight: bold;
  }
  .block {
    display: block;
  }
  
  .transition {
    --background:  #f57c00;
    --border-radius: 16px;
  }

  .transitions {
    --background:  #f57c00;
    height: 24px;
    position: relative;
    bottom: 5px;
    --border-radius: 16px;
    text-transform: capitalize;
  }
  
  .error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
  }