<ion-header>
  <ion-toolbar>
    <ion-title>Transaction History for {{ expensesService.transactionhistorytitle }}</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let each of expensesService.transactions2">
    <!-- Date -->
    <ion-item class="date">
      {{ each[0] }}
    </ion-item>
    <!-- For each transaction in the same date -->
    <ion-item *ngFor="let each of each[1]">
      <ion-label class="ion-text-wrap">
        <h2>{{ each.description }}</h2>
        <p>{{ each.category }}</p>
      </ion-label>
      <p>{{ each.amount }}</p>
    </ion-item>
  </div>

</ion-content>