<ion-header>
  <ion-toolbar>
    <ion-title>Search Exchange Rates</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

 
    <ion-searchbar (ionInput)= "FilterJSONData($event)"></ion-searchbar>
    <div class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let item of jsonData" (click)="details(item)">
          {{item.name}}
        </ion-item>
      </ion-list>
    </div>
</ion-content>
