<ion-header>
  <ion-toolbar>
    <ion-title>Search Exchange Rates</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

 
    <ion-searchbar (ionInput)= "FilterJSONData($event)"></ion-searchbar>
    <div class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let item of jsonData" (click)="details(item)">
          {{item.name}}
        </ion-item>
      </ion-list>
    </div>

   <!-- <div>
      <ion-list> 
        <ion-item (click) = "stocks()">
          <ion-label>Stocks</ion-label>
          <ion-button fill="solid" slot="end" (click) = "stocks()">View</ion-button> 
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item (click) = "fxrates()">
          <ion-label>FX Rates</ion-label> 
          <ion-button fill="solid" slot="end" (click) = "fxrates()">View</ion-button> 
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item> 
        <ion-item (click) = "crypto()">
          <ion-label>Cryptocurrencies</ion-label> 
          <ion-button fill="solid" slot="end" (click) = "crypto()">View</ion-button> 
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-list>
  </div> -->


</ion-content>
