<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <img src="../assets/sky2.jpeg" alt="Learn" style="width:100%">
    <div class="centered" style="color: white; font-size: 2.5vw;">Start Your Financial Literacy With Us Today</div>
  </div>

  <!-- <div class="horizontal">
      <ion-card color="light" *ngFor="let card of cards">
        <ion-card-header>
          <ion-card-title>{{card.title}}</ion-card-title>
          <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          {{card.description}}
        </ion-card-content>
      </ion-card>
    </div> -->
  <h1><strong>All Courses</strong></h1>
  <ion-grid class="main-card">
    <h3><strong>Basic</strong></h3>
    <ion-row>
      <ion-col>
        <div>
          <ion-card color="light">
            <img src="../../assets/plan.jpg" alt="ion" width="100%">
            <ion-card-header>
              <ion-card-title>Financial Planning and Basics</ion-card-title>
              <!-- <ion-card-subtitle>BerkeleyX</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card color="light">
            <img src="../../assets/invest.jpg" alt="ion">
            <ion-card-header>
              <ion-card-title>Investing Basics</ion-card-title>
              <!-- <ion-card-subtitle>ImperialBusinessX, ImperalX</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card color="light">
            <img src="../../assets/save.png" alt="ion">
            <ion-card-header>
              <ion-card-title>Tips on Saving Money</ion-card-title>
              <!-- <ion-card-subtitle>IIMBx</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <h3><strong>Intermediate</strong></h3>
    <ion-row>
      <ion-col>
        <div>
          <ion-card color="light">
            <img src="../../assets/etf.jpg" alt="ion">
            <ion-card-header>
              <ion-card-title>How to Invest (The Right Way) with ETFs</ion-card-title>
              <!-- <ion-card-subtitle>BerkeleyX</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card color="light">
            <img src="../../assets/retire.jpg" alt="ion">
            <ion-card-header>
              <ion-card-title>How to Plan for Your Retirement</ion-card-title>
              <!-- <ion-card-subtitle>ImperialBusinessX, ImperalX</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card color="light">
            <img src="../../assets/tips.png" alt="ion">
            <ion-card-header>
              <ion-card-title>Tips on Investing</ion-card-title>
              <!-- <ion-card-subtitle>IIMBx</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>