<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <img class="sky" src="../assets/sky2.jpeg" alt="Learn" style="width:100%">
    <div class="centered" style="color: white; font-size: 5vw; width:80%">Start Your Financial Literacy With Us Today</div>
  </div>

  <!---Array for different courses-->
  <!-- <div>
      <ion-card *ngFor="let item of items">
        <ion-img class="list" [src]="item.pic"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div> -->

  <h1><strong>All Courses</strong></h1>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="4" *ngFor="let item of items">
        <div>
          <ion-card color="light" (click)="gotoplan(item)" >
            <ion-img class="list" [src]="item.pic"></ion-img>
            <ion-card-header>
              <ion-card-title>{{item.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  
