.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.sky{
  filter: brightness(80%);
}
.light {
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  }

.main-card{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  ion-col {
    display: flex;
  }
  ion-card {
    max-height: 350px;
  }

// .horizontal{
//   ion-card{
//     display: inline-block;
//     width: 400px;
//   }
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

ion-card-header {
  height: 100px;
  width: 100%;
}