<ion-header>
  <ion-toolbar>
    <ion-title>Accounts</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Citibank Connect Button -->
  <div style="display: flex; align-items: center">
    <ion-text>Citibank</ion-text>
    <ion-button *ngIf="!userService.citiLogin" (click)=citiconnect() style="margin-left: auto;">Connect</ion-button>
    <ion-button *ngIf="userService.citiLogin" style="margin-left: auto;" color="success">Connected</ion-button>
  </div>

  <br>

  <!-- DBS Connect Button -->
  <div style="display: flex; align-items: center">
    <ion-text>OCBC</ion-text>
    <ion-button (click)=ocbcconnect() style="margin-left: auto;">Connect</ion-button>
  </div>
  
  <br><br>

  <ion-list *ngFor="let each of expensesService.accountGroups">
    <ion-list-header style="font-size: 24px; font-weight: bold;">
      {{ each.accountGroup }} <!-- Account Group Name -->
      <!-- For now one will only be displayed -->
    </ion-list-header>

    <!-- Accounts -->
    <ion-item *ngFor="let account of each.accounts" (click)=transactionhistory(account)>
      <ion-label>
        <h2>{{ account.productName }}</h2> <!-- Account Name -->
        <p>{{ account.displayAccountNumber }}</p> <!-- Account Number -->
      </ion-label>

      <!-- For Savings and Investments accounts, and more -->
      <p *ngIf="account.currentBalance" style="margin-right: 16px">{{ (account.currentBalance).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>

      <!-- For Credit Cards accounts -->
      <p *ngIf="account.availableCredit" style="margin-right: 16px">{{ (account.availableCredit).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>

      <!-- <p *ngFor="let i of account | keyvalue" style="margin-right: 16px">{{ (i.value.availableCredit).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p> -->
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>

    <!-- <ion-item *ngFor="let account of each.insurancePolicies" (click)=transactionhistory()>
      <ion-label>
          <h2>{{ account.productName }}</h2>
          <p>{{ account.displayPolicyNumber }}</p>
      </ion-label>
      <p style="margin-right: 16px">{{ (account.totalPremiumPaidAmount).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item> -->
  </ion-list>

  <!-- For quick testing using Ionic Serve -->
  <!-- <div>
  <ion-list>
    <ion-list-header style="font-size: 24px; font-weight: bold;">
      Account Group
    </ion-list-header>
    <ion-item (click)=transactionhistory() >
      <ion-label>
        <h2>Product Name</h2>
        <p>Account Number</p>
      </ion-label>
      <p style="margin-right: 16px">$0.00</p>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
  </div> -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col size-xs="3" size-md="2">
        <div>
          Date
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="8">
        <div>
          Description
        </div>
      </ion-col>
      <ion-col size-xs="3" size-md="2">
        <div>
          Amount
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let each of userService.transactions">
      <ion-col size-xs="3" size-md="2">
        <div>
          {{ each.transactionDate }}
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="8">
        <div>
          {{ each.transactionDescription }}
        </div>
      </ion-col>
      <ion-col size-xs="3" size-md="2">
        <div>
          {{ each.transactionAmount }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
