<ion-header>
  <ion-toolbar>
    <ion-title>Bank Accounts</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Citibank Connect Button -->
  <!-- <div style="display: flex; align-items: center">
    <ion-text>Citibank</ion-text>
    <ion-button *ngIf="!userService.citiLogin" (click)=citiconnect() style="margin-left: auto;">Connect</ion-button>
    <ion-button *ngIf="userService.citiLogin" style="margin-left: auto;" color="success">Connected</ion-button>
  </div>

  <br> -->

  <!-- OCBC Connect Button -->
  <!-- <div style="display: flex; align-items: center">
    <ion-text>OCBC</ion-text>
    <ion-button *ngIf = "!userService.ocbcLogin" (click)=ocbcconnect() style="margin-left: auto;">Connect</ion-button>
    <ion-button *ngIf="userService.ocbcLogin" style="margin-left: auto;" color="success">Connected</ion-button>
  </div>
  
  <br><br> -->

  <!-- <ion-button (click)=saltedgeconnect()>Connect Bank Account</ion-button> -->

  <!-- Citibank -->
  <div *ngIf="userService.citiLogin">
    <ion-list *ngFor="let each of expensesService.citiAccounts">
      <ion-list-header style="font-size: 24px; font-weight: bold;">
        {{ each.accountGroup }}
        <!-- Account Group Name -->
        <!-- For now one will only be displayed -->
      </ion-list-header>

      <!-- Accounts -->
      <div *ngFor="let account of each.accounts">
        <ion-item (click)="expandItem(account)">
          <ion-label>
            <h2>{{ account.productName }}</h2> <!-- Account Name -->
            <p>{{ account.displayAccountNumber }}</p> <!-- Account Number -->
          </ion-label>

          <!-- For Savings and Investments accounts, and more -->
          <p *ngIf="account.currentBalance" style="margin-right: 16px">
            {{ (account.currentBalance).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>

          <!-- For Credit Cards accounts -->
          <p *ngIf="account.availableCredit" style="margin-right: 16px">
            {{ (account.availableCredit).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>

          <!-- For Insurance accounts -->
          <p *ngIf="account.totalPremiumPaidAmount" style="margin-right: 16px">
            {{ (account.totalPremiumPaidAmount).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>

          <!-- <p *ngFor="let i of account | keyvalue" style="margin-right: 16px">{{ (i.value.availableCredit).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p> -->
          <ion-icon *ngIf="!account.expanded" name="chevron-forward"></ion-icon>
          <ion-icon *ngIf="account.expanded" name="chevron-down"></ion-icon>
        </ion-item>
        <app-expandable expandHeight="100px" [expanded]="account.expanded">
          <ion-item>
            <ion-label style="justify-content: center; display: flex;">
              <ion-button (click)="spendinginsights(account)">View Spending Insights</ion-button>
            </ion-label>
            <ion-label style="justify-content: center; display: flex;">
              <ion-button (click)="transactionhistory(account)">View Transaction History</ion-button>
            </ion-label>
          </ion-item>
        </app-expandable>
      </div>
    </ion-list>
  </div>

  <!-- OCBC -->
  <div *ngIf="userService.ocbcLogin">
    <ion-list>
      <ion-list-header style="font-size: 24px; font-weight: bold;">
        OCBC Credit Cards
      </ion-list-header>

      <!-- Accounts -->
      <div *ngFor="let each of expensesService.ocbcAccounts">
        <ion-item (click)="expandItem(each)">

          <ion-label>
            <h2>{{ each.cardDesc}}</h2> <!-- Card Name -->
            <p>{{ each.maskedCardNo }}</p> <!-- Card Number -->
          </ion-label>

          <!-- OCBC Credit Cards -->
          <p style="margin-right: 16px">
            {{ (each.availableBalance).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>
          <ion-icon *ngIf="!each.expanded" name="chevron-forward"></ion-icon>
          <ion-icon *ngIf="each.expanded" name="chevron-down"></ion-icon>
        </ion-item>
        <app-expandable expandHeight="100px" [expanded]="each.expanded">
          <ion-item>
            <ion-label style="justify-content: center; display: flex;">
              <ion-button (click)="ocbcspendinginsights(each)">View Spending Insights</ion-button>
            </ion-label>
            <ion-label style="justify-content: center; display: flex;">
              <ion-button (click)="ocbctransactionhistory(each)">View Transaction History</ion-button>
            </ion-label>
          </ion-item>
        </app-expandable>
      </div>
    </ion-list>
  </div>

  <ion-list>
    <!-- <ion-list-header style="font-size: 24px; font-weight: bold;">
      Connected Banks
    </ion-list-header> -->

    <!-- Accounts -->
    <div *ngFor="let each of expensesService.saltedgeconnections">
      <ion-item>

        <ion-label (click)="gotoAccounts(each)">
          <h2>{{ each.provider_name }}</h2> <!-- Card Name -->
          <p>Last Synced: {{ each.last_success_at }}</p> <!-- Card Name -->
        </ion-label>
        <!-- <ion-button>Sync</ion-button> -->
        <!-- <ion-button >Delete</ion-button> -->
        <ion-button (click)="reconnect(each.id)">
          <ion-icon name="sync"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteconnection(each.id)" style="margin-right: 16px;">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

        <!-- OCBC Credit Cards -->
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-item>
    </div>
    <ion-item (click)=saltedgeconnect()>
      <ion-icon style="margin-right: 16px" name="add"></ion-icon>
      <ion-label>
        <h2>Connect Bank Account</h2>
      </ion-label>
    </ion-item>

  </ion-list>

  <!-- For quick testing using Ionic Serve -->
  <!-- <div>
  <ion-list>
    <ion-list-header style="font-size: 24px; font-weight: bold;">Account Group</ion-list-header>
    <div (click)="expandItem(account)" *ngFor="let account of items">
      <ion-item>
        <ion-label>
          <h2>{{account.productName}}</h2>
          <p>Account Number</p>
        </ion-label>
        <p style="margin-right: 16px">$0.00</p>
        <ion-icon *ngIf="!account.expanded" name="chevron-forward"></ion-icon>
        <ion-icon *ngIf="account.expanded" name="chevron-down"></ion-icon>
      </ion-item>
      <app-expandable expandHeight="100px" [expanded]="account.expanded">
        <ion-item>
          <ion-label style="justify-content: center; display: flex;"><ion-button>View Spending Insights</ion-button></ion-label>
          <ion-label style="justify-content: center; display: flex;"><ion-button>View Transaction History</ion-button></ion-label>
        </ion-item>
      </app-expandable>
    </div>
  </ion-list>
  </div> -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col size-xs="3" size-md="2">
        <div>
          Date
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="8">
        <div>
          Description
        </div>
      </ion-col>
      <ion-col size-xs="3" size-md="2">
        <div>
          Amount
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let each of userService.transactions">
      <ion-col size-xs="3" size-md="2">
        <div>
          {{ each.transactionDate }}
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="8">
        <div>
          {{ each.transactionDescription }}
        </div>
      </ion-col>
      <ion-col size-xs="3" size-md="2">
        <div>
          {{ each.transactionAmount }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>