<ion-content class="ion-padding">
  <img src = "assets/planner.png" height = "150px" width = "150px">
      <ion-row class="row">
        <div>
          <ion-text>
            <h2 no-margin margin-vertical text-center>Welcome to FinPlanner!</h2>
          </ion-text>
        </div>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal
            clear-input="true"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="password" class="input"
            padding-horizontal clear-input="true"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="login()" color="undefined" class="transition">
            <strong class="white">
              Login</strong></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="error" text-center>{{error}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text text-center class="block">Don't have an account yet?
            <ion-button (click)="register()" color="undefined" class="transitions">
              <strong class="white">
                Register here!</strong></ion-button></ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="forgot()" color="undefined" class="transitions">
            <strong class="white">
              Forgot Password?</strong></ion-button>
        </ion-col>
      </ion-row>
</ion-content>

