// .main {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     position: relative;
//     top: 100px;
//   }
  @media screen and (min-width: 767px) {
    ion-card {
      width: 600px;
      margin: auto;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input {
    background-color: rgba(240, 240, 240, 0);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important;
    
  }
  .white {
    color: white;
  }
  .icon {
    position: relative;
    right: 25px;
    font-size: 19px;
  }
  .icon1 {
    position: relative;
    right: 15px;
    font-size: 19px;
  }
  .text {
    position: relative;
    right: 9px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .bold {
    font-weight: bold;
  }
  .block {
    display: block;
  }
  .transition {
    --background:#f57c00;
    --border-radius: 16px;
  }

  .transitions {
    --background:#f57c00;
    height: 28px;
    position: relative;
    bottom: 5px;
    --border-radius: 16px;
    text-transform: capitalize;
  }

  .fbtransition {
    --background: #3b5998;
    height: 34px;
    position: relative;
    bottom: 5px;
    --border-radius: 16px;
  }

  .googletransition {
    --background: #db3236;
    height: 34px;
    position: relative;
    bottom: 5px;
    --border-radius: 16px;
  }

  // .eye {
  //   position: absolute;
  //   left: 1180px;
  // }

  .error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
  }