<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>FinPlanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- <ion-list-header>Home</ion-list-header> -->
    <!-- <div *ngFor="let p of pages">
      <ion-menu-toggle *ngIf="p.url">
        <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
          <ion-icon *ngIf="p.icon" [name]="p.icon" slot="start"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </div> -->
    <ion-menu-toggle>
      <ion-item routerLink="/home" routerDirection="root" routerLinkActive="active">
        <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="/accounts" routerDirection="root" routerLinkActive="active">
        <ion-icon name="wallet" slot="start"></ion-icon>
          <ion-label>Bank Accounts</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <!-- <ion-menu-toggle>
      <ion-item routerLink="/spendinginsights" routerDirection="root" routerLinkActive="active">
        <ion-icon name="logo-usd" slot="start"></ion-icon>
          <ion-label>Spending Insights</ion-label>
      </ion-item>
    </ion-menu-toggle> -->
    <ion-menu-toggle>
      <ion-item routerLink="/finance" routerDirection="root" routerLinkActive="active">
        <ion-icon name="logo-usd" slot="start"></ion-icon>
          <ion-label>Finance</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="/news" routerDirection="root" routerLinkActive="active">
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>News</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="/courses" routerDirection="root" routerLinkActive="active">
        <ion-icon name="school" slot="start"></ion-icon>
          <ion-label>Courses</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="/todolist" routerDirection="root" routerLinkActive="active">
        <ion-icon name="list-outline" slot="start"></ion-icon>
          <ion-label>To-do List</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="/faq" routerDirection="root" routerLinkActive="active">
        <ion-icon name="help" slot="start"></ion-icon>
          <ion-label>FAQ</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="!userService.loggedin">
      <ion-item routerLink="/login" routerDirection="root" routerLinkActive="active">
        <ion-icon name="log-in" slot="start"></ion-icon>
          <ion-label>Login / Register</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="userService.loggedin">
      <ion-item routerLink="/profile" routerDirection="root" routerLinkActive="active">
        <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Profile</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="userService.loggedin" (click)="signout()">
      <ion-item class="signout">
        <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Sign Out</ion-label>
      </ion-item>
    </ion-menu-toggle>

  </ion-content>

</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>