.active {
    --ion-text-color: #FFFFFF;
    ion-icon {
        --ion-text-color-rgb: #FFFFFF;
    }
    --background: #CC6600; // HSB 30,100,80
}
.signout {
    --ion-text-color: #FFFFFF;
    ion-icon {
        --ion-text-color-rgb: #FFFFFF;
    }
    --background: #FF3232; // HSB 0,80,100
}

@media (prefers-color-scheme: dark) {
    .active {
        --background: #984C00; // HSB 30,100,60
    }
    .signout {
        --background: #CB2929; // HSB 0,80,80
    }
}