<ion-header>
  <ion-toolbar>
    <ion-title>Summary</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- The expensesService.transactioncategories array has only 1 Object, so this will only run once -->
  <div *ngFor="let i of expensesService.transactioncategories">
    <ion-text>Food: {{ (i.Food).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Bills: {{ (i.Bills).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Lifestyle: {{ (i.Lifestyle).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Taxes: {{ (i.Taxes).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Recurring fees: {{ (i["Recurring Fees"]).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <!-- <ion-text>Total: {{ (i.Total).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text> -->
  </div>
  
  <!-- Pie Chart from Google Charts -->
  <google-chart *ngIf="expensesService.pieChart" [data]="expensesService.pieChart"></google-chart>

  <ion-text>Top Expenses</ion-text>

  <ion-grid>
    <!-- Loop through the array and display the expenses -->
    <div *ngFor="let i of expensesService.pieChartData">
      <ion-row style="margin-top: 6px;">
        <ion-text>{{ i[0] }}</ion-text>
      </ion-row>
      <ion-row style="margin-top: 6px;">
        <ion-text>{{ i[1].toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text>
      </ion-row>
      <ion-row style="margin-top: 6px;">
        <ion-progress-bar [value]="i[1]/expensesService.total"></ion-progress-bar>
      </ion-row>
      <br>
    </div>
  </ion-grid>

</ion-content>
