<ion-header>
  <ion-toolbar>
    <ion-title>Summary</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let i of expensesService.transactioncategories">
    <ion-text>Food: {{ (i.Food).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Bills: {{ (i.Bills).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Lifestyle: {{ (i.Lifestyle).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Taxes: {{ (i.Taxes).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text><br>
    <ion-text>Recurring fees: {{ (i["Recurring Fees"]).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</ion-text>
  </div>
  
  <google-chart *ngIf="expensesService.pieChart" [data]="expensesService.pieChart"></google-chart>

</ion-content>
