<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div style="height: 300px;">
    <canvas #doughnutCanvas></canvas>
  </div>

  <br>

  <ion-item *ngFor="let each of filtereddata">
    <ion-label class="ion-text-wrap">
      <h2>{{ each.description }}</h2>
      <p>{{ each.accountname }}</p>
      <p>{{ each.made_on }} | {{ each.category }}</p>
    </ion-label>
    <p>{{ each.amountcurrencycode }}</p>
  </ion-item>

</ion-content>
