<ion-header>
  <ion-toolbar>
    <ion-title>{{saltedgeService.saltedgeconnection["provider_name"]}}</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <!-- Accounts -->
    <div *ngFor="let each of saltedgeService.saltedgeaccounts" (click)="expandItem(each)">
      <ion-item>
    
        <ion-label>
          <h2>{{ each["account_name"] }}</h2> <!-- Account Name -->
        </ion-label>
        <p style="padding-right: 16px;">{{ each["balance"] }}</p>

        <!-- OCBC Credit Cards -->
        <!-- <ion-icon name="chevron-forward"></ion-icon> -->
        <ion-icon *ngIf="!each.expanded" name="chevron-forward"></ion-icon>
        <ion-icon *ngIf="each.expanded" name="chevron-down"></ion-icon>
      </ion-item>
      <app-expandable expandHeight="100px" [expanded]="each.expanded">
        <ion-item>
          <ion-label style="justify-content: center; display: flex;"><ion-button style="width: 90%;" (click)="spendinginsights(each)">View Insights</ion-button></ion-label>
          <ion-label style="justify-content: center; display: flex;"><ion-button style="width: 90%;" (click)="transactionhistory(each)">View Transaction History</ion-button></ion-label>
        </ion-item>
      </app-expandable>
    </div>
  </ion-list>
</ion-content>
