<ion-header>
  <ion-toolbar>
    <ion-title>Savings Suggestions</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <ion-label style = "font-size: 20px">
    Savings Suggestions recommended for you:
  </ion-label>

  <h4><b>Cafes and Restaurant</b></h4>

  <ion-card>
    <ion-card-content style = "font-size: 15px">
      Eat at coffee shop
      <br>
      Cook at home
      <br>
      <br>
      You can cut down by <b style = "font-size: 18px;">15%</b>
    </ion-card-content>
  </ion-card>

  <h4><b>Shopping</b></h4>

  <ion-card>
    <ion-card-content style = "font-size: 15px">
      Look for promotions, sales and coupons
      <br>
      Make a wish list
      <br>
      Borrow item
      <br>
      Shop in carousell
      <br>
      <br>
      You can cut down by <b style = "font-size: 18px;">18%</b>
    </ion-card-content>
  </ion-card>

  
  <h4><b>Electronics and Software</b></h4>

  <ion-card>
    <ion-card-content style = "font-size: 15px">
      Buy refurbished or used technology products
      <br>
      <br>
      You can cut down by <b style = "font-size: 18px;">25%</b>
    </ion-card-content>
  </ion-card>

  <h4><b>Groceries</b></h4>

  <ion-card>
    <ion-card-content style = "font-size: 15px">
      Buy only what you need
      <br>
      <br>
      You can cut down by <b style = "font-size: 18px;">10%</b>
    </ion-card-content>
  </ion-card>


  <!-- <h4><b>Food</b></h4>

  <ion-card>
     <ion-card-content style = "font-size: 15px">
      Cook home-cooked food
      <br>
      <br>
      You can cut down by <b style = "font-size: 18px;">20%</b>
    </ion-card-content>
  </ion-card> -->

</ion-content>
