<ion-header>
  <ion-toolbar>
    <ion-title>Savings Suggestions</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class = "suggestions">
    Savings Suggestions recommended for you:
  </ion-label>

  <ion-card>
    <ion-card-content class = "suggestion">
      Limit grab to once a week
    </ion-card-content>

    <ion-card-content>
      <b>You can cut down by 10%</b>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class = "suggestion">
      Limit shopping to only once a week
    </ion-card-content>

    <ion-card-content>
      <b>You can cut down by 20%</b>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class = "suggestion">
      Cook home-cooked food
    </ion-card-content>

    <ion-card-content>
      <b>You can cut down by 30%</b>
    </ion-card-content>
  </ion-card>


</ion-content>
