.suggestions {
    display: flex;
    padding-top: 20px;
    font-size: 20px; 
    padding-left: 20px;
  }

  // .suggestion {
  //   display: flex;
  //   font-size: 15px; 
  //   padding-left: 13px;
  // }