<ion-header>
  <ion-toolbar>
    <ion-title>Savings Suggestions</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <ion-label style = "font-size: 20px">
    Savings Suggestions recommended based on your spending on {{month}} {{year}}:
  </ion-label>

  <br><br>

  <div *ngFor="let each of savingssuggestionsarray">
    <h4><b>{{ each[0] }}</b></h4>

    <ion-card *ngFor="let suggestion of each[1]">
      <ion-card-content style="display: flex; align-items: center; padding: 8px;">
        <ion-label style="margin-left: 8px;"><h2>{{ suggestion }}</h2></ion-label>
        <ion-button style="margin-left: auto;" (click)="addTodo(suggestion)">Add To-do</ion-button>
      </ion-card-content>
    </ion-card>

    <br>
  </div>

</ion-content>
