<ion-header>
  <ion-toolbar>
    <ion-title>Exchange Rates</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <div *ngIf = "userService.loggedin">
    <ion-label style = "font-size: 20px">
      View Realtime <b>Stocks</b>, <b>FX Rates</b> & <b>Cryptocurrencies</b> Exchange Rates:
    </ion-label>

    <ion-card>
      <ion-item>
        <ion-label style = "font-size: 15px">Stocks</ion-label>
        <ion-button fill="solid" slot="end" (click) = "stocks()">View</ion-button>
      </ion-item>
    </ion-card>

    <br>

    <ion-card>
      <ion-item>
        <ion-label style = "font-size: 15px">FX Rates</ion-label>
        <ion-button fill="solid" slot="end" (click) = "fxrates()">View</ion-button>
      </ion-item>
    </ion-card>

    <br>

    <ion-card>
      <ion-item>
        <ion-label style = "font-size: 15px">Cryptocurrencies</ion-label>
        <ion-button fill="solid" slot="end" (click) = "crypto()">View</ion-button>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf = "!userService.loggedin" class = "container">
    <ion-label>Please log in</ion-label>
    <br>
    <ion-button (click) = "Login()">Log In</ion-button>
  </div>
</ion-content>
