.container {
    position: relative;
    text-align: center;
    color: white;
}

ion-item:hover {
    --background: lightgray;
}

@media (prefers-color-scheme: dark) {
    ion-item:hover {
        --background: #808080;
    }
}

.container {
    position: relative;
  }

  @media (max-width: 767px) {
    .card {
        height: 95%;
    }
  }
  
  @media (min-width: 768px) {
    .card {
        width: 95%;
        display: block;
        margin-right: 50px;
    }
  
    .list {
        float: left;
        position: static;
        width: 30%;
    }
  }
  
// .centered {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .sky {
//     filter: brightness(80%);
// }

// .list {
//     float: left;
//     position: static;
//     width: 50%;
// }

// .cardview {
//     margin-left: 100px;
//     margin-right: 100px;
// }

// // .card {
// //     width: 100%;
// //     display: block;
// //     margin: auto;
// // }

// @media (max-width: 767px) {
//     .card {
//         height: 95%;
//     }
// }

// @media (min-width: 768px) {
//     .card {
//         width: 100%;
//         display: block;
//         margin: auto;
//     }

//     .list {
//         float: left;
//         position: static;
//         width: 30%;
//     }
// }

// @media (min-width: 992px) {
//     .card {
//         width: 80%;
//         display: block;
//         margin: auto;
//     }

//     .list {
//         float: left;
//         position: static;
//         width: 30%;
//     }
// }

// .padding {
//     padding: 20px;
// }