<ion-header>
  <ion-toolbar>
    <ion-title>Finance</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- <div *ngIf = "userService.loggedin"> -->
  <!-- <ion-label>
      View Realtime <b>Stocks</b>, <b>FX Rates</b> & <b>Cryptocurrencies</b> Exchange Rates:
    </ion-label> -->
  <!-- <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div> -->
  <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div> -->
  <iframe scrolling="no" allowtransparency="true" frameborder="0"
    src="https://s.tradingview.com/embed-widget/tickers/?locale=en#%7B%22symbols%22%3A%5B%7B%22proName%22%3A%22NASDAQ%3AMSFT%22%2C%22title%22%3A%22MSFT%22%7D%2C%7B%22proName%22%3A%22NASDAQ%3ATSLA%22%2C%22title%22%3A%22TSLA%20%22%7D%2C%7B%22proName%22%3A%22FX_IDC%3AEURUSD%22%2C%22title%22%3A%22EUR%2FUSD%22%7D%2C%7B%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%2C%22title%22%3A%22BTC%2FUSD%22%7D%2C%7B%22proName%22%3A%22OANDA%3AUSDSGD%22%2C%22title%22%3A%22USD%2FSGD%22%7D%5D%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Afalse%2C%22width%22%3A%22100%25%22%2C%22height%22%3A104%2C%22utm_source%22%3A%22www.tradingview.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22tickers%22%7D"
    style="box-sizing: border-box; height: calc(72px); width: 100%;"></iframe>
  <!-- </div> -->
  <br>
  <br>
  <div>
    <ion-list>
      <ion-item (click) = "stocks()">
        <ion-label>Stocks</ion-label>
        <!-- <ion-button fill="solid" slot="end" (click) = "stocks()">View</ion-button> -->
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-item>
      <ion-item (click) = "fxrates()">
        <ion-label>FX Rates</ion-label>
        <!-- <ion-button fill="solid" slot="end" (click) = "fxrates()">View</ion-button> -->
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-item>
      <ion-item (click) = "crypto()">
        <ion-label>Cryptocurrencies</ion-label>
        <!-- <ion-button fill="solid" slot="end" (click) = "crypto()">View</ion-button> -->
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <!-- </div> -->

  <!-- <div *ngIf = "!userService.loggedin" class = "container">
    <ion-label>Please log in</ion-label>
    <br>
    <ion-button (click) = "Login()">Log In</ion-button>
  </div> -->
</ion-content>