.container {
    position: relative;
    text-align: center;
    color: white;
}

ion-item:hover {
    --background: lightgray;
}

@media (prefers-color-scheme: dark) {
    ion-item:hover {
        --background: #808080;
    }
}

.sidebar {
    box-sizing: border-box;
    height: calc(628px);
    width: 400px;
    float: right;
    position: sticky;
}


@media (max-width: 991px) {
    .card {
        height: 95%;
    }

    .sidebar {
        display: none;
    }
}

@media (min-width: 992px) {
    .card {
        width: 95%;
        display: block;
        margin-right: 50px;
    }

    .list {
        float: left;
        position: static;
        width: 30%;
    }
}