<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text>Accounts:</ion-text>
  <br><br>
  <div style="display: flex; align-items: center">
    <ion-text>Citibank</ion-text>
    <ion-button *ngIf="!userService.citiLogin" (click)=citiconnect() style="margin-left: auto;">Connect</ion-button>
    <ion-button *ngIf="userService.citiLogin" style="margin-left: auto;" color="success">Connected</ion-button>
  </div>
  <br>
  <div style="display: flex; align-items: center">
    <ion-text>DBS</ion-text>
    <ion-button (click)=dbsconnect() style="margin-left: auto;">Connect</ion-button>
  </div>
  <br><br>

  <ion-grid *ngFor="let each of userService.allaccounts">
    <ion-row>
      <ion-col>
        {{ each.accountGroup }}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let account of each.accounts">
      <ion-col >
        <!-- Show the productName here -->
        {{ account[userService.accountsummaryName].productName }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="3" size-md="2">
        <div>
          Date
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="8">
        <div>
          Description
        </div>
      </ion-col>
      <ion-col size-xs="3" size-md="2">
        <div>
          Amount
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let each of userService.transactions">
      <ion-col size-xs="3" size-md="2">
        <div>
          {{ each.transactionDate }}
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="8">
        <div>
          {{ each.transactionDescription }}
        </div>
      </ion-col>
      <ion-col size-xs="3" size-md="2">
        <div>
          {{ each.transactionAmount }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
