<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let each of expensesService.accountGroups">
    <ion-list-header style="font-size: 24px; font-weight: bold;">
      {{ each }}
    </ion-list-header>
    <ion-item *ngFor="let account of expensesService.accounts" (click)=transactionhistory(account[0])>
      <ion-label>
        <h2>{{ account[0].productName }}</h2>
        <p>{{ account[0].displayAccountNumber }}</p>
      </ion-label>
      <p *ngIf="account[0].currentBalance" style="margin-right: 16px">{{ (account[0].currentBalance).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>
      <p *ngIf="account[0].availableCredit" style="margin-right: 16px">{{ (account[0].availableCredit).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>
      <!-- <p *ngFor="let i of account | keyvalue" style="margin-right: 16px">{{ (i.value.availableCredit).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p> -->
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
    <!-- <ion-item *ngFor="let account of each.insurancePolicies" (click)=transactionhistory()>
      <ion-label>
          <h2>{{ account.productName }}</h2>
          <p>{{ account.displayPolicyNumber }}</p>
      </ion-label>
      <p style="margin-right: 16px">{{ (account.totalPremiumPaidAmount).toLocaleString('en-SG', { style: 'currency', currency: 'SGD' }) }}</p>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item> -->
  </ion-list>

</ion-content>
