<ion-header>
  <ion-toolbar>
    <ion-title>{{params.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-label style = "font-size: 20px"><b>{{params.name}}</b></ion-label>
  <br>
  <br>
  <ion-label style = "font-size: 25px"><b>Price:  {{ (expensesService.Stocks["05. price"]/0.747018204).toLocaleString('en-SG', { style: 'currency', currency: "SGD" }) }}</b></ion-label>
  <br>
  <ion-label style = "font-size: 13px">Last Refreshed: {{ expensesService.Stocks["07. latest trading day"] }}</ion-label>
  <br>
  <br>
  <ion-label style = "font-size: 20px"><b>Summary</b></ion-label>

  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col>
        <div>
          <ion-label>Previous Close:  {{ expensesService.Stocks["08. previous close"] }}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>Open:  {{ expensesService.Stocks["02. open"] }}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>High:  {{ expensesService.Stocks["03. high"] }}</ion-label>
        </div>
      </ion-col>
    </ion-row>

  
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          <ion-label>Low:  {{ expensesService.Stocks["04. low"] }}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>Volume:  {{ expensesService.Stocks["06. volume"] }}</ion-label>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>Change (%):  {{ expensesService.Stocks["10. change percent"] }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="container">
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="12" *ngFor="let article of articles" (click)="onGoToNewsSinglePage(article)">
        <ion-card class="card">
          <ion-img class="list" [src]="article.urlToImage"></ion-img>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <ion-card-title class="font">{{article.title}}</ion-card-title>
                <p>{{article.description}}</p>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> -->
</ion-content>


