<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <img class="sky" src="../assets/news.jpg" alt="Learn" style="width:100%">
    <div class="centered" style="color: white; font-size: 5vw; width:80%">News</div>
  
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-segment (ionChange)="segmentChanged($event)" value="localheadlines">
          <ion-segment-button value="localheadlines">
            <ion-label>
              Local Headlines
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="topheadlines">
            <ion-label>
              Top Headlines
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="finance">
            <ion-label>
              Finance News
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="bitcoin">
            <ion-label>
              Bitcoin News
            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="container" *ngIf="selectedSegment == 'localheadlines'">
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="12" *ngFor="let article of articles" (click)="onGoToNewsSinglePage(article)">
        <ion-card class="card">
          <ion-img class="list" [src]="article.urlToImage"></ion-img>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <ion-card-title class="font">{{article.title}}</ion-card-title>
                <p>{{article.description}}</p>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="container" *ngIf="selectedSegment == 'topheadlines'">
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="12" *ngFor="let article of articles" (click)="onGoToNewsSinglePage(article)">
        <ion-card class="card">
          <ion-img class="list" [src]="article.urlToImage"></ion-img>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <ion-card-title class="font">{{article.title}}</ion-card-title>
                <p>{{article.description}}</p>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="container" *ngIf="selectedSegment == 'finance'">
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="12" *ngFor="let article of articles" (click)="onGoToNewsSinglePage(article)">
        <ion-card class="card">
          <ion-img class="list" [src]="article.urlToImage"></ion-img>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <ion-card-title class="font">{{article.title}}</ion-card-title>
                <p>{{article.description}}</p>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div class="container" *ngIf="selectedSegment == 'bitcoin'">
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="12" *ngFor="let article of articles" (click)="onGoToNewsSinglePage(article)">
        <ion-card class="card">
          <ion-img class="list" [src]="article.urlToImage"></ion-img>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <ion-card-title class="font">{{article.title}}</ion-card-title>
                <p>{{article.description}}</p>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
