<ion-header>
  <ion-toolbar>
    <ion-title>Insights for {{ expensesService.transactionhistorytitle }}</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Pie Chart from Google Charts -->
  <!-- <div *ngIf="expensesService.transactions && expensesService.transactions.length > 0"> -->

  <h3>Money In / Out</h3>
  <ion-segment (ionChange)="barchartsegmentChanged($event)" value="3months" scrollable>
    <ion-segment-button value="1month" disabled>
      <ion-label>1 Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3months">
      <ion-label>3 Months</ion-label>
    </ion-segment-button>
    <ion-segment-button value="6months">
      <ion-label>6 Months</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1year">
      <ion-label>1 Year</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all" disabled>
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col>
      <ion-label style="justify-content:left; display: flex;">
        <ion-button (click)="previousmonth()">Previous</ion-button>
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label style="justify-content:flex-end; display: flex;">
        <ion-button (click)="nextmonth()">Next</ion-button>
      </ion-label>
    </ion-col>
  </ion-row>

  <div style="height: 300px;">
    <canvas #barCanvas></canvas>
  </div>

  <h3>Spending Insights</h3>

  <!-- <div style="display: flex; align-items: center">
    <ion-checkbox style="margin: 12px;" checked="false"></ion-checkbox>
    <ion-label>View Income Insights</ion-label>
  </div>
  <div style="display: flex; align-items: center">
    <ion-checkbox style="margin: 12px;" checked="true"></ion-checkbox>
    <ion-label>View Spending Insights</ion-label>
  </div> -->

  <!-- The [value] at ion-segment is to set the selected value for the ion-segment -->
  <ion-segment *ngFor="let year of defaultyear" scrollable (ionChange)="changeyear($event)" [value]="year">
    <!-- Populate the years in the ion-segment -->
    <ion-segment-button *ngFor="let each of yeararray" [value]="each">
      <ion-label>{{ each }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- The [value] at ion-segment is to set the selected value for the ion-segment -->
  <ion-segment *ngFor="let month of defaultmonth" scrollable (ionChange)="changemonth($event)" [value]="month[0]">
    <!-- Populate the months in the ion-segment -->
    <ion-segment-button *ngFor="let each of montharray" [value]="each[0]" [disabled]="each[1]">
      <ion-label>{{ each[0] }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <br>
  <ion-label>In {{month}} {{year}}, you spent a total of {{ monthlyspend }} and earned {{ monthlyincome }} in your account named "{{saltedgeService.saltedgeaccount.account_name}}". You have saved {{ savings }}</ion-label>
  <br>
  <br>

  <div style="height: 300px;">
    <canvas #doughnutCanvas></canvas>
  </div>

  <br>

  <ion-item *ngFor="let each of filtereddata2">
    <ion-label class="ion-text-wrap">
      <h2>{{ each.description }}</h2>
      <p>{{ each.made_on }} | {{ each.category }}</p>
    </ion-label>
    <p>{{ each.amountcurrencycode }}</p>
  </ion-item>

  <br>

  <ion-button expand="block" (click)="view()">View Savings Suggestions</ion-button>
  <!-- </div> -->
  <!-- <ion-label *ngIf="!expensesService.transactions || expensesService.transactions.length == 0" style="font-size: 20px" class="ocbc">
    No Spending Insights
  </ion-label> -->

</ion-content>