<ion-header>
  <ion-toolbar>
    <ion-title>FX Rates</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
 
  <h3><b>USD to SGD</b></h3>

  <ion-list>
    <ion-item>
      <h4>Last Refreshed: {{ expensesService.fxrates["6. Last Refreshed"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Exchange Rate: {{ expensesService.fxrates["5. Exchange Rate"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Bid Price: {{ expensesService.fxrates["8. Bid Price"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Ask Price: {{ expensesService.fxrates["9. Ask Price"] }}</h4>
    </ion-item>
  </ion-list>

    <h3><b>SGD to USD</b></h3>

    <ion-list>
      <ion-item>
        <h4>Last Refreshed: {{ expensesService.fxratesSG["6. Last Refreshed"] }}</h4>
      </ion-item>

      <ion-item>
        <h4>Exchange Rate: {{ expensesService.fxratesSG["5. Exchange Rate"] }}</h4>
      </ion-item>

      <ion-item>
        <h4>Bid Price: {{ expensesService.fxratesSG["8. Bid Price"] }}</h4>
      </ion-item>

      <ion-item>
        <h4>Ask Price: {{ expensesService.fxratesSG["9. Ask Price"] }}</h4>
      </ion-item>
    </ion-list>


</ion-content>

