.container {
    position: relative;
    text-align: center;
  }

.list {
    float: left;
    position: static;
}

.cardview { 
    margin-left: 100px;
    margin-right: 100px;
}

.card {
    width: 80%;
    display: block;
    margin: auto;
}