.container {
    position: relative;
    text-align: center;
  }
.pic1 {
    filter: brightness(60%);
}
.list {
    float: left;
    position: static;
    width: 50%;
}

.cardview { 
    margin-left: 100px;
    margin-right: 100px;
}

.card {
    width: 80%;
    display: block;
    margin: auto;
}

.padding {
    padding: 20px;
}

.icon {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.centered {
    position: absolute;
    top: 40%;   
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 3.4vw;
    color: white;
  }

  .centered-1 {
    position: absolute;
    top: 55%;   
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    font-size: 1.5vw;
    color: white;
  }