<ion-header>
  <ion-toolbar>
    <ion-title>Financial Planning and Basics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="../assets/plan.jpg" alt="Learn" style="width:80%">
    <h1><strong>Financial Planning and Basics</strong></h1>
  </div>

  <div class="cardview">
    <ion-col>
      <ion-card class="card">
        <img src="../../assets/plan.jpg" alt="ion" width="50%" class="list">
        <ion-row>
          <ion-col>
            <ion-card-title>Hello</ion-card-title>
            <ion-card-header>Hi</ion-card-header>
            <ion-card-content>Jesus</ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="card">
        <img src="../../assets/plan.jpg" alt="ion" width="50%" class="list">
        <ion-row>
          <ion-col>
            <ion-card-title>Hello</ion-card-title>
            <ion-card-header>Hi</ion-card-header>
            <ion-card-content>Jesus</ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </div>
  
</ion-content>
