.container {
    position: relative;
    text-align: center;
}

.pic1 {
    filter: brightness(60%);
}

.list {
    // float: left;
    position: static;
    width: 100%;
    height: 280px;
}

.cardview {
    // margin-left: 100px;
    // margin-right: 100px;
    margin: 20px 0;
}

.card {
    width: 95%;
    display: block;
    margin: auto;
}

.padding {
    // padding: 0px;
}

.icon {
    font-size: 20px;
    position: relative;
    top: 5px;
}

// .centered {
//     position: absolute;
//     top: 35%;
//     left: 50%;
//     transform: translate(-50%, 0%);
//     width: 80%;
//     font-size: 39px;
//     color: white;
// }

// .centered-1 {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, 0%);
//     width: 60%;
//     font-size: 17px;
//     color: white;
// }

@media screen and (min-width: 0px) {
    .centered {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90%;
        font-size: 24px;
        color: white;
    }

    .centered-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90%;
        font-size: 14px;
        color: white;
    }
}

@media screen and (min-width: 321px) {
    .centered {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90%;
        font-size: 26px;
        color: white;
    }

    .centered-1 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 80%;
        font-size: 15px;
        color: white;
    }
}

@media screen and (min-width: 500px) {
    .centered {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90%;
        font-size: 32px;
        color: white;
    }

    .centered-1 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 80%;
        font-size: 19px;
        color: white;
    }
}

@media screen and (min-width: 768px) {
    .list {
        float: left;
        position: static;
        width: 50%;
        height: 280px;
    }

    .padding {
        padding: 20px;
    }

    .card {
        width: 80%;
        display: block;
        margin: auto;
    }

    .centered {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90%;
        font-size: 32px;
        color: white;
    }

    .centered-1 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 80%;
        font-size: 19px;
        color: white;
    }
}

