<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<h1 class="vertical-align-content"><b>{{article.title}}</b></h1>

<ion-content class="ion-padding">
  
  <ion-card class="img" >
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-header>
      <ion-card-title>{{article.author}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{article.publishedAt}}

      <br>
      <br>

      {{article.description}}

      <br>
      <br>
      <br>

      <ion-button href="{{article.url}}">Read more from here</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

