.verticalcenter {
    // height: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    // justify-content: center;
}

.transition {
    --background:#f57c00;
    --border-radius: 16px;
    height: 32px;
    bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

.transition1 {
    --background:#FF3333;
    --border-radius: 16px;
    height: 32px;
    bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

.truncate {
    overflow:hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}