<ion-header>
  <ion-toolbar>
    <ion-title>Ask Questions</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5 style="text-align: center">Questions? Feel free to write them down below</h5>
    <form [formGroup]="myForm">
        <ion-item>
         <ion-label floating>Username</ion-label>
         <ion-input type="text" formControlName="username" name="username"></ion-input>
        </ion-item>
        <ion-item>
         <ion-label floating>Email</ion-label>
         <ion-input type="text" formControlName="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Ask a question here!!</ion-label>
            <ion-input type="text" formControlName="ques" name="ques"></ion-input>
        </ion-item>
         <br/>
         <ion-button (click)="clickInsert()">Ask Questions</ion-button><br/>
        <ion-button (click)="clickView()">View Questions</ion-button>
      </form>
</ion-content>
