<ion-header>
  <ion-toolbar>
    <ion-title>Stocks Exchange Rates</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <h3>Microsoft (MSFT)</h3>

    <ion-item>
      <h4>Last Refreshed: {{ expensesService.msftStocks["07. latest trading day"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Open:  {{ expensesService.msftStocks["02. open"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>High:  {{ expensesService.msftStocks["03. high"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Low:  {{ expensesService.msftStocks["04. low"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Close:  {{ expensesService.msftStocks["08. previous close"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Volume:  {{ expensesService.msftStocks["06. volume"] }}</h4>
    </ion-item>

    <h3>Tesla (TSLA)</h3>

    <ion-item>
      <h4>Last Refreshed: {{ expensesService.teslaStocks["07. latest trading day"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Open:  {{ expensesService.teslaStocks["02. open"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>High:  {{ expensesService.teslaStocks["03. high"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Low:  {{ expensesService.teslaStocks["04. low"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Close:  {{ expensesService.teslaStocks["08. previous close"] }}</h4>
    </ion-item>

    <ion-item>
      <h4>Volume:  {{ expensesService.teslaStocks["06. volume"] }}</h4>
    </ion-item>
</ion-content>
