<ion-header>
  <ion-toolbar>
    <ion-title>Stocks Exchange Rates</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <h3>Microsoft (MSFT)</h3>

    <ion-item>
      <h4>Last Refreshed: {{ latestTradingDay }}</h4>
    </ion-item>

    <ion-item>
      <h4>Open:  {{ open }}</h4>
    </ion-item>

    <ion-item>
      <h4>High:  {{ high }}</h4>
    </ion-item>

    <ion-item>
      <h4>Low:  {{ low }}</h4>
    </ion-item>

    <ion-item>
      <h4>Close:  {{ close }}</h4>
    </ion-item>

    <ion-item>
      <h4>Volume:  {{ volume }}</h4>
    </ion-item>
  
</ion-content>
