<ion-header>
  <ion-toolbar>
    <ion-title>Stocks Exchange Rates</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  
  <h3><b>Microsoft (MSFT)</b></h3>

  <ion-list>
      <ion-item>
        <ion-label>Last Refreshed: {{ expensesService.msftStocks["07. latest trading day"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Open:  {{ expensesService.msftStocks["02. open"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>High:  {{ expensesService.msftStocks["03. high"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Low:  {{ expensesService.msftStocks["04. low"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Price:  {{ expensesService.msftStocks["05. price"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Close:  {{ expensesService.msftStocks["08. previous close"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Volume:  {{ expensesService.msftStocks["06. volume"] }}</ion-label>
      </ion-item>
    </ion-list>

    <h3><b>Tesla (TSLA)</b></h3>
    
    <ion-list>
      <ion-item>
        <ion-label>Last Refreshed: {{ expensesService.teslaStocks["07. latest trading day"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Open:  {{ expensesService.teslaStocks["02. open"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>High:  {{ expensesService.teslaStocks["03. high"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Low:  {{ expensesService.teslaStocks["04. low"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Price:  {{ expensesService.teslaStocks["05. price"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Close:  {{ expensesService.teslaStocks["08. previous close"] }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Volume:  {{ expensesService.teslaStocks["06. volume"] }}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
