<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <!-- <google-chart [data]="columnChart1"></google-chart>
  <google-chart [data]="pieChart"></google-chart>
  <ion-progress-bar value="0.5"></ion-progress-bar>
  <br>
  <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar> -->

  <h3 style="text-align:left;">
    Account Balances in {{ currencycode }}
    <!-- <span [innerHTML]="total" class="item-text-wrap" style="float:right;">
      {{total}}
    </span> -->
  </h3>
  <!-- <p [innerHTML]="total"></p> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ currencycode }}<span style="float :right;">{{ total }}</span></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <br>

  <div *ngIf=!sgdonly>


    <h3 style="text-align:left;">
      Account Balances in original currencies
      <!-- <span [innerHTML]="total" class="item-text-wrap" style="float:right;">
      {{total}}
    </span> -->
    </h3>
    <ion-card *ngFor="let each of originaltotal">
      <ion-card-header>
        <ion-card-subtitle>{{ each[0] }}<span style="float :right;">{{ each[1] }}</span></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- <br>
  <h3>Expenses</h3>
  <p *ngFor="let each of expenses">{{ each["month"] }} {{ each["year"] }} - {{ each["amount"] }}</p>
  <br>
  <h3>Income</h3>
  <p *ngFor="let each of income">{{ each["month"] }} {{ each["year"] }} - {{ each["amount"] }}</p> -->

  <ion-button (click)="previous3months()">Previous 3 months</ion-button>
  <ion-button (click)="next3months()">Next 3 months</ion-button>
  <canvas #barCanvas></canvas>
  <!-- <canvas #doughnutCanvas></canvas>
  <canvas #lineCanvas></canvas> -->

</ion-content>

<!-- <ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Simple Pie Chart</ion-card-subtitle>
      <ion-card-title>Tasks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <google-chart [data]="pieChart"></google-chart>
    </ion-card-content>
  </ion-card>
</ion-content> -->