<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf=!sgdonly>
    <h3 style="text-align:left;">
      Account Balances converted to {{ currencycode }}
    </h3>
  </div>

  <div *ngIf=sgdonly>
    <h3 style="text-align:left;">
      Account Balances
    </h3>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ currencycode }}<span style="float :right;">{{ total }}</span></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <br>

  <div *ngIf=!sgdonly>
    <h3 style="text-align:left;">
      Account Balances in original currencies
    </h3>
    <ion-card *ngFor="let each of originaltotal">
      <ion-card-header>
        <ion-card-subtitle>{{ each[0] }}<span style="float :right;">{{ each[2] }}</span></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <br>
  <h3 *ngIf="!sgdonly">Money In / Out in SGD</h3>
  <h3 *ngIf="sgdonly">Money In / Out</h3>
  <ion-segment (ionChange)="barchartsegmentChanged($event)" value="3months" scrollable>
    <ion-segment-button value="1month" disabled>
      <ion-label>1 Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3months">
      <ion-label>3 Months</ion-label>
    </ion-segment-button>
    <ion-segment-button value="6months">
      <ion-label>6 Months</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1year">
      <ion-label>1 Year</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all" disabled>
      <ion-label>All</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col>
      <ion-label style="justify-content:left; display: flex;">
        <ion-button (click)="previousmonth()">Previous</ion-button>
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-label style="justify-content:flex-end; display: flex;">
        <ion-button (click)="nextmonth()">Next</ion-button>
      </ion-label>
    </ion-col>
  </ion-row>

  <div style="height: 300px;">
    <canvas #barCanvas></canvas>
  </div>

  <br>

  <!-- The [value] at ion-segment is to set the selected value for the ion-segment -->
  <ion-segment *ngFor="let year of defaultyear" scrollable (ionChange)="changeyear($event)" [value]="year">
    <!-- Populate the years in the ion-segment -->
    <ion-segment-button *ngFor="let each of yeararray" [value]="each">
      <ion-label>{{ each }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- The [value] at ion-segment is to set the selected value for the ion-segment -->
  <ion-segment *ngFor="let month of defaultmonth" scrollable (ionChange)="changemonth($event)" [value]="month[0]">
    <!-- Populate the months in the ion-segment -->
    <ion-segment-button *ngFor="let each of montharray" [value]="each[0]" [disabled]="each[1]">
      <ion-label>{{ each[0] }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <br>

  <ion-label>In {{month}} {{year}}, you spent a total of {{ monthlyspend }} and earned {{ monthlyincome }} in all of
    your accounts. You have saved {{ savings }}.</ion-label>
  <br>
  <br>

  <h3 *ngIf="!sgdonly">Spending Insights in SGD</h3>
  <h3 *ngIf="sgdonly">Spending Insights</h3>

  <ion-label>You spent a total of {{ monthlyspend }} in {{ month }} {{ year }}.</ion-label>
  <br>
  <br>

  <div style="height: 300px;">
    <canvas #doughnutCanvas></canvas>
  </div>

  <br>

  <!-- <ion-item *ngFor="let each of filtereddata2">
    <ion-label class="ion-text-wrap">
      <h2>{{ each.description }}</h2>
      <p>{{ each.accountname }}</p>
      <p>{{ each.made_on }} | {{ each.category }}</p>
    </ion-label>
    <p>{{ each.amountcurrencycode }}</p>
  </ion-item> -->

  <ion-button expand="block" (click)="view2('Spending Insights', filtereddata2, spendinginsightlabels, spendinginsightvalues, backgroundcolors, hovercolors, monthlyspend, month, year)">View Transactions</ion-button>

  <br>

  <ion-button expand="block" (click)="view(month, year)">View Savings Suggestions</ion-button>

  <br>
  <br>

  <h3 *ngIf="!sgdonly">Income Insights in SGD</h3>
  <h3 *ngIf="sgdonly">Income Insights</h3>

  <ion-label>You earned a total of {{ monthlyincome }} in {{ month }} {{ year }}.</ion-label>
  <br>
  <br>

  <div style="height: 300px;">
    <canvas #doughnutCanvas2></canvas>
  </div>

  <br>

  <ion-button expand="block" (click)="view2('Income Insights', filtereddata3, incomeinsightlabels, incomeinsightvalues, incomebackgroundcolors, incomehovercolors, monthlyincome, month, year)">View Transactions</ion-button>

  <br>

  <!-- <ion-item *ngFor="let each of filtereddata3">
    <ion-label class="ion-text-wrap">
      <h2>{{ each.description }}</h2>
      <p>{{ each.accountname }}</p>
      <p>{{ each.made_on }} | {{ each.category }}</p>
    </ion-label>
    <p>{{ each.amountcurrencycode }}</p>
  </ion-item> -->

  <!-- <canvas #lineCanvas></canvas> -->

</ion-content>