<ion-header>
  <ion-toolbar>
    <ion-title>Voice Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-label style="justify-content: center; display: flex;" *ngIf="statusCheck">Checking status...</ion-label>
  <br><br>
  <ion-label style="justify-content: center; display: flex;" *ngIf="!isVoiceEnrolled">Voice Enrolled: No</ion-label>
  <ion-label style="justify-content: center; display: flex;" *ngIf="isVoiceEnrolled">Voice Enrolled: Yes</ion-label>
  <br><br><br><br><br>
  <ion-button (click)="enrollVoice()" expand="block" style="margin-left: 15%; margin-right: 15%;"> Enroll voice </ion-button>
  <br><br><br><br><br>
  <ion-button (click)="recordAudio()" expand="block" style="margin-left: 15%; margin-right: 15%;">Record Audio</ion-button>
  <br><br><br><br><br>
  <ion-button (click)="getDataNativeHttp()" expand="block" style="margin-left: 15%; margin-right: 15%;"> Verify </ion-button>
  
</ion-content>
