<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671807746722-c2b3gcekh8vioudj8rm72q1abbcj6qkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671807746722-c2b3gcekh8vioudj8rm72q1abbcj6qkr</string>
	<key>API_KEY</key>
	<string>AIzaSyBBam0XtF2lR94UB6RhQG1bjdF10T5VPXY</string>
	<key>GCM_SENDER_ID</key>
	<string>671807746722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tristanchng.FinPlanner</string>
	<key>PROJECT_ID</key>
	<string>ionicfirebase-a8213</string>
	<key>STORAGE_BUCKET</key>
	<string>ionicfirebase-a8213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671807746722:ios:ce667a45d73013ff29ddfb</string>
	<key>DATABASE_URL</key>
	<string>https://ionicfirebase-a8213.firebaseio.com</string>
</dict>
</plist>